.date {
color: #fefefe;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 48px;
font-weight: 400;
line-height: 26px;
}

.story {
	
color: #b7b7b7;
font-family: "Montserrat";
font-size: 15px;
font-weight: 300;
line-height: 22px;

}