.divider {
	height: 1300px;
	position: relative;
}

.history {
	width: 400px;
	height: 150px;
}


.history2011 {
	margin-top: 150px;
	margin-bottom: 250px;
	padding-right: 70px;
	float: right;
	text-align: right;
}

.history2012 {
	margin-top: 270px;
	margin-bottom: 340px;
	padding-left: 70px;
}

.history2014 {
	padding-left: 70px;
}

.history2013{
	padding-right: 70px;
	float: right;
}


.date {
color: #fefefe;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 48px;
font-weight: 400;
line-height: 26px;
margin-bottom: 30px;
}

.date-odd {
	text-align: right;
}

.story {
	
color: #b7b7b7;
font-family: "Montserrat";
font-size: 15px;
font-weight: 300;
line-height: 22px;

}

.circle {
	border: 4px solid white;
	border-radius: 50%;
	background-color: #1d1d1d;
	height: 24px;
	width: 24px;
}

.circle11 {	
	position: absolute;
	top: 150px;
	left: -15.5px;
}


.circle12 {
	position: absolute;
	top: 270px;
	left: -15.5px;
}


.circle13 {
	position: absolute;
	top: 540px;
	left: -26px;
	height: 46px;
	width: 46px;
}

.circle14 {
	position: absolute;
	top: 755px;
	left: -15.5px;
}
